.priceSlider .swiper-button-next {
  position: absolute;
  top: 80%;
  left: 79%;
  color: #7D7D7D;
}
.priceSlider .swiper-button-next::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 140%;
  border-radius: 50%;
  border: 2px solid #7D7D7D;
}
.priceSlider .swiper-button-prev {
  position: absolute;
  top: 80%;
  left: 75%;
  color: #7D7D7D;
}
.priceSlider .swiper-button-prev::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 140%;
  border-radius: 50%;
  border: 2px solid #7D7D7D;
}