.online {
    padding-bottom: 96px;
    &__title {
        @include text ($GothamPro900, 48px, #333333);
    }
    &__title1 {
        @include text ($GothamPro900, 48px, #F79900);
        margin-bottom: 30px;
    }
    &__subtitle {
        @include text ($GothamPro300, 18px,  #7D7D7D);
        span {
            color: #F79900;
        }
    }
}